/* Home section styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(128, 128, 128, 0.129);
  --max-width: 1200px;
}

nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(128, 0, 0, 0.807);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  color: rgba(128, 0, 0, 0.545);
}

ul li a:hover {
  border-top-color: maroon;
  border-bottom-color: maroon
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 3px;
  font-weight: 800;
  margin-bottom: 0.5rem;
  
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  line-height: 30px;
}

span{
    color: rgba(128, 0, 0, 0.807); ;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  background-color: rgba(128, 0, 0, 0.807);
}

.hire__me:hover {
  background-color: rgba(128, 0, 0, 0.361);
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(20rem, 70%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

 nav #check:checked ~ ul {
    left: 0;
  } 

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area:1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}


/* About section styling */
section.about {
    background-color:rgba(128, 0, 0, 0.583);
    padding: 20px;
    text-align: center;

  }
  
  h1 {
    font-size: 3.5em;
    margin: 2em 0;
  }
  
  h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: maroon;
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.8;
  }
  
  span {
    font-weight: bold;
    color: maroon/
  }
  

  @media (max-width: 750px) {
    h1 {
      font-size: 2em;
    }
  
    h3 {
      font-size: 1.2em;
    }
  
    p {
      font-size: 0.9em;
    }
  
    .about {
      padding: 15px;
    }
  }


/* Skills section styling */
.skills {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.129);
}

.skills h1 {
  text-align: center;
  font-size: 3.5em;
  color: maroon;
}
.html, .css, .js, .ts, .nextjs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-around;
}

.html img {
  width:200px;
  height: 200px;

}

.skill{
  width: 50%;
  height: 15px;
  background-color: rgb(163, 161, 161);
}

.html-skill {
  background-color: blue;
  width: 95%;
  height: 15px;
}

.css img {
  width: 220px;
  height: 200px;
}

.css-skill {
  background-color: blue;
  width: 90%;
  height: 15px;
}

.js img{
  width: 220px;
  height: 200px;
}

.js-skill, .ts-skill {
  background-color: rgb(255, 208, 0);
  width: 80%;
  height: 15px;
}

.ts img {
  width: 220px;
  height: 200px;
}

.nextjs img{
  width: 220px;
  height: 200px;
}

.nextjs-skill {
  background-color: red;
  width: 10%;
  height: 15px;
}


/* Project section styling */ 
 .project-container{
  background-color: rgba(128, 0, 0, 0.583);
 padding: 20px 40px;
}

.allprojects{
display: grid;
grid-template-columns: repeat(3, 1fr);
border: 8px solid black;
justify-items: center;
}

.project{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;


}
.project img {
  width: 100%;
  height: 80%;
}
.project h2 {
  margin-bottom: 0;
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.project a{
  color: black;
}


.project a:hover {
  color: maroon;
}



@media (max-width: 750px) {
  .allprojects{
  display: grid;
grid-template-columns: repeat(2, 1fr);
}

.project{
    width: 70%;
    margin-top: 10px;
}
} 


/* Contact section styling */
.contact{
  background-color: rgba(163, 161, 161, 0.189);
 

  h1{
      color: maroon;
      font-size: 3.5em;
     text-align: center;
     padding: 50px;
  }
  h4{
      color: black;
      font-size: 45px ;
     text-align: center;
     padding: 10px;
     box-shadow: 0 0 15px maroon;

  }
     p{
      text-align: center;
      padding: 40px;
      color: black;
      font-size: 25px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      /* background-color: rgba(128, 0, 0, 0.773); */
     }
     .gmail{
      color: maroon;
      text-decoration: none;
      font-weight: 900;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }
     .gmail:hover{
      color:black;
     }
  .icons{
      /* background-image: black; */
      text-align: center;
      margin-top: 20px;
  }

}
h2{
  padding: 10px;
  margin-top: 20px;
}
h2:hover{
  color: maroon;
}

@media (max-width : 546px) {
  .allprojects{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .project{ height: 400px;}

  .connect{
    font-size: 32px !important;
  }
}

@media (max-width: 380px){
  .project h2{
    width: 100%;
    font-size: 22px !important;
    padding: 0 !important;
  }
  .connect{
    font-size: 28px !important;
  }
  .contact{
    font-size: 32px !important;
  }
}